@font-face {
    font-family: 'Voyage';
    src: url('VoyageRegular.woff2') format('woff2'),
        url('VoyageRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

